<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="PichaBot is an AI powered messaging system that makes use of plugins to integrate smartness and AI algorithms into your life " />
	<meta name="keywords" content="Smartest, AI powered chat, chat app, smart chat app" />
	<title>PichaBot</title>

</head>
<body>
	<div class="main">
		<div class="head">
			<div class="title">
				<h1>PichaBot</h1>
			</div>
		</div>
		<div class="panel-bdy">
			
		</div>
	</div>


</body>
</html>